.product-container h4 {
  color: white;
  background-color: #1db2f9;
  display: inline;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-card {
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.product-card h6 {
  font-weight: 700;
}

.product-card p {
  font-weight: 500;
  color: rgb(91, 91, 91);
}

.addcart-btn,
.removecart-btn {
  border: none;
  background-color: #1db2f9;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.removecart-btn {
  background-color: rgb(255, 109, 56);
}

.wishlist-btn{
  background-color: #1db3f9d8;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

.wishlist-btn:hover{
  background-color: #1db3f9;
}