.spinner-overlay {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.wave-bar {
  width: 8px;
  height: 100%;
  margin: 0 3px;
  border-radius: 4px;
  background-color: #1db2f9;
  animation: wave-animation 1.2s ease-in-out infinite;
}

.wave-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.wave-bar:nth-child(3) {
  background-color: #159cd6;
  animation-delay: 0.2s;
}

.wave-bar:nth-child(4) {
  animation-delay: 0.3s;
}

.wave-bar:nth-child(5) {
  background-color: #0e89c9;
  animation-delay: 0.4s;
}

@keyframes wave-animation {
  0%, 100% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(1);
  }
}